// Wide Screen
@include mediaXl {
}

// Desktop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 2fr);
  }
}

// tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .job {
    text-align: left;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    padding: 25px;

    // .portrait {
    //   background: $portrait-image;
    //   width: 150px;
    //   height: 150px;
    //   border-radius: 50%;
    // }

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// smart phone
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
    font-size: 45px;
  }

  .job {
    text-align: left;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact h1 {
    font-size: 55px;
  }

  .boxes div {
    font-size: 20px;
  }
  #phone {
    white-space: pre;
  }
  #addr {
    white-space: pre;
    font-size: 14px;
  }
}
